{% extends 'base.html' %}
{% load static %}
{% block title%}Mobile{% endblock title %}
{% block main-content %}

<div class="container my-5">

  <div class="m-3 pt-2">
    <h3 class="fw-bold ">ALL LAPTOPS </h3>
  </div>
       
  <div class="col-sm-12 pt-5 pb-3">
    <div class="row">
      {% comment %} {% for Product in mobiles %} {% endcomment %}
      <div class="col-sm-3 mb-5">
        <div class="card shadow">
          <a href="#" class="btn"><img src="{% static 'images/asus.jpg' %}" alt="{{Product.title}}" height="220px" class="card-img-top"></a>
          <div class="card-body">
            <h6 class="fw-bold card-text text-truncate">title</h6>
            <p class="card-text text-truncate">title</p>
          </div>
          <div class="card-footer">
            <small class="fw-bold text-decoration-line-through">Rs. selling_price</small><br><span class="fs-5 fw-bold">Rs. discounted_price</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-5">
        <div class="card shadow">
          <a href="#" class="btn"><img src="{% static 'images/asus.jpg' %}" alt="{{Product.title}}" height="220px" class="card-img-top"></a>
          <div class="card-body">
            <h6 class="fw-bold card-text text-truncate">title</h6>
            <p class="card-text text-truncate">title</p>
          </div>
          <div class="card-footer">
            <small class="fw-bold text-decoration-line-through">Rs. selling_price</small><br><span class="fs-5 fw-bold">Rs. discounted_price</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-5">
        <div class="card shadow">
          <a href="#" class="btn"><img src="{% static 'images/asus.jpg' %}" alt="{{Product.title}}" height="220px" class="card-img-top"></a>
          <div class="card-body">
            <h6 class="fw-bold card-text text-truncate">title</h6>
            <p class="card-text text-truncate">title</p>
          </div>
          <div class="card-footer">
            <small class="fw-bold text-decoration-line-through">Rs. selling_price</small><br><span class="fs-5 fw-bold">Rs. discounted_price</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-5">
        <div class="card shadow">
          <a href="#" class="btn"><img src="{% static 'images/asus.jpg' %}" alt="{{Product.title}}" height="220px" class="card-img-top"></a>
          <div class="card-body">
            <h6 class="fw-bold card-text text-truncate">title</h6>
            <p class="card-text text-truncate">title</p>
          </div>
          <div class="card-footer">
            <small class="fw-bold text-decoration-line-through">Rs. selling_price</small><br><span class="fs-5 fw-bold">Rs. discounted_price</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-5">
        <div class="card shadow">
          <a href="#" class="btn"><img src="{% static 'images/asus.jpg' %}" alt="{{Product.title}}" height="220px" class="card-img-top"></a>
          <div class="card-body">
            <h6 class="fw-bold card-text text-truncate">title</h6>
            <p class="card-text text-truncate">title</p>
          </div>
          <div class="card-footer">
            <small class="fw-bold text-decoration-line-through">Rs. selling_price</small><br><span class="fs-5 fw-bold">Rs. discounted_price</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-5">
        <div class="card shadow">
          <a href="#" class="btn"><img src="{% static 'images/asus.jpg' %}" alt="{{Product.title}}" height="220px" class="card-img-top"></a>
          <div class="card-body">
            <h6 class="fw-bold card-text text-truncate">title</h6>
            <p class="card-text text-truncate">title</p>
          </div>
          <div class="card-footer">
            <small class="fw-bold text-decoration-line-through">Rs. selling_price</small><br><span class="fs-5 fw-bold">Rs. discounted_price</span>
          </div>
        </div>
      </div>
      {% comment %} {% endfor %} {% endcomment %}
    </div>
  </div>
</div>

{% endblock main-content %}